<footer class="container">
  <hr>
  <small>
    <a href="/terms" aria-label="Go to the Terms">Terms and Conditions</a> |
    <a href="https://github.com/wipodev/wiview/blob/main/LICENSE" aria-label="Go to License">License</a>
  </small><br>
  <small>
    Copyright © 2024-present Wicons. |
    Powered by <a href="https://wipodev.com" target="_blank">WipoDev</a>.
  </small>
</footer>

<style>
  body>footer {
    padding: 0 0 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    hr {
      margin-block: 0 0.5rem;
    }
  }
</style>