<wivex:head>
  <title>wivex - About</title>
</wivex:head>

<article>
  <header>
    <h2>About wivex</h2>
  </header>
  <p><strong>wivex</strong> is a JavaScript library designed for dynamic loading of HTML components and simplified route
    management in web applications. With <strong>wivex</strong>, you can load HTML components asynchronously, enabling a
    faster and more optimized user experience. The library also makes it easy to create routes and customize elements in
    the document's <code>head</code>, helping you build more dynamic and organized web applications.</p>

  <h3>Main Features:</h3>
  <ul>
    <li><strong>Asynchronous HTML Component Loading:</strong> Renders specific content only when needed, improving
      application performance.</li>
    <li><strong>Simple Route Management:</strong> Easily define and organize routes for efficient navigation.</li>
    <li><strong>Custom Head Element Injection:</strong> Add and manage custom tags in the document’s
      <code>head</code>, useful for SEO and metadata configuration.
    </li>
  </ul>

  <footer>
    <p>For a quick start guide and usage examples, visit our <a href="https://github.com/wipodev/wivex">GitHub
        repository</a>.</p>
  </footer>
</article>