<script>
  import TitleLib from "/src/app/components/Title_Lib.html";
</script>

<wivex:head>
  <title>wivex - JavaScript library for dynamic loading of HTML components</title>
  <meta name="description"
    content="wivex is a JavaScript library that allows dynamic loading of HTML components and makes it easy to create routes in web applications. With wivex, you can load HTML components asynchronously, manage routes in a simple way, and inject custom elements into the head of your document." />
</wivex:head>

<section>
  <img src="/assets/img/logo.svg" alt="logo">
  <h1>Welcome to Your <TitleLib></TitleLib> App</h1>
  <p>With <strong>wivex</strong>, you can load HTML components asynchronously, manage routes in a simple way, and inject
    custom elements into the head of your document.</p>
  <p>For a basic guide on how to use <strong>wivex</strong>, see the <a
      href="https://github.com/wipodev/wivex">readme</a> on github.
  </p>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-inline: var(--pico-spacing);

    section img {
      width: 30%;
      height: auto;
    }

    h1 {
      display: flex;
      gap: 0.5rem;
      align-items: baseline;

      span[data-title-lib] {
        font-size: inherit;
      }
    }

    p {
      text-align: center;
    }
  }
</style>