<script>
  import FooterPage from "./components/Footer_Page.html"
  import HeaderPage from "./components/Header_Page.html"
</script>

<div>
  <HeaderPage></HeaderPage>
  <main class="container"></main>
  <FooterPage></FooterPage>
</div>

<style>
  body>div {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
  }

  @media (max-width: 768px) {
    .container {
      max-width: 100%;
      padding-inline: 0;
    }
  }

  @media (min-width: 1536px) {
    .container {
      max-width: 1200px;
    }
  }
</style>