<footer id="footerpage" class="container">
  <hr>
  <small>
    <a href="/terms" aria-label="Go to the Terms">Terms and Conditions</a> |
    <a href="https://github.com/wipodev/wivex/blob/main/LICENSE" aria-label="Go to License">License</a>
  </small><br>
  <small class="container">
    Copyright © 2024-present WIVEX. |
    Powered by <a href="https://wipodev.com" target="_blank">WipoDev</a>.
  </small>
</footer>

<style scoped>
  footer {
    background-color: var(--pico-background-color);
    padding: 0 0 1rem;
    text-align: center;

    hr {
      margin-block: 0 0.5rem;
    }
  }
</style>